

body{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.section{
min-height: calc(50vh - 120px);
padding: 50px;
display: flex;
flex-direction: column;
gap: 20px;

}
.section h1{
 font-size: 3rem;
}
.section .details{
  width: 50vw;
  font-size: 1.5rem;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
}